<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--    <link rel="icon" type="image/x-icon" href="/favicon.ico"> -->
    <title>operation-view : <%= title %></title>
    <link crossorigin="anonymous" href="style.css" media="all" rel="stylesheet" />
    <!--    <style type="text/css">#{style}</style> -->
  </head>
  <body>
    <div id="container"><%= markdownData %></div>
  </body>
</html>
